#s-contact {
  width: 100%;
  height: auto;
  background-color: $bg-secondary;
  color: $color-white;
  padding: 120px 0px;
  text-align: center;

  .grid-layout {
    h2 {
      font-size: 4.8rem;
      font-weight: 500;
      font-family: $font-secondary;

      @include responsive-tablet {
        font-size: 4rem;
      }
    }

    > div {
      margin: 56px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h3 {
        margin: 16px 0;
        font-size: 3.2rem;
        font-weight: 500;
        background-color: $bg-main;
        border: 2px solid $bg-border;
        padding: 12px 40px;
        border-radius: 32px;
   
    

        @include responsive-tablet {
          font-size: 2.4rem;
        }
      }
    }

    p {
      font-size: 2rem;

      @include responsive-tablet {
        font-size: 1.8rem;
      }
    }
  }
}
